.movies-cardlist {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 360px));
  gap: 32px 28px;
  list-style: none;
  align-items: center;
  justify-content: center;
}

.movies-content__error-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 50px;
}

.movies-content__error {
  height: 50px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin: 20px 0 0;
}



.movies-content__loader-wrapper {
  height: 50vh;
}

@media screen and (max-width: 1100px) {
  .movies-cardlist {
    grid-template-columns: repeat(2, minmax(300px, 360px));
    row-gap: 45px;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 680px) {
  .movies-cardlist {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 36px;
  }

  .movies-content__error {
    font-size: 16px;
    margin-top: 24px;
  }
}

@media screen and (max-width: 460px) {
  .movies-content__error-arrow {
    display: none;
  }
}